extends ../base.pug

block variables 
    - var template = 'case'

block content   
    .case
        .case_wrapper   
            .case_hero
                .case_hero_banner_wrapper
                    figure.case_banner_media  
                        img.case_banner_media_image(src=imageUrl(project.mainBanner))

                .case_hero_wrapper
                    .case_count_wrapper
                        h1.case_count_heading PR.#{String(project.caseIndex).padStart(2, '0')}   
                            span.case_total_count /#{String(projects.length).padStart(2, '0')}
                        p.case_name!=project.projectName.replace(/\n/g, '<br>')

                    .case_info_wrapper 
                        .case_info
                            p(data-animation="paragraph") Project type:
                            p(data-animation="paragraph")!=project.projectType.replace(/\n/g, '<br>')

                        .case_info
                            p(data-animation="paragraph") Involvement:
                            p(data-animation="paragraph")!=project.involvement.replace(/\n/g, '<br>')

                        .case_info
                            p(data-animation="paragraph") Date created:
                            p(data-animation="paragraph")=project.dateCreated


                        .case_info
                            p(data-animation="paragraph") Tools:
                            each tool in project.tools
                                p(data-animation="paragraph")=tool

            .case_medias
                .case_medias_wrapper   
                    each media in project.caseMedia || []
                        .case_media_container(class='media_' + (media.layout || 'video'))
                            .case_media
                                if media._type === 'image'
                                    figure.case_media_media
                                        img.case_media_media_image(src=imageUrl(media.asset), alt='')

                                else if media._type === 'videoItem'
                                    video.case_media_media(autoplay muted loop)
                                        source.case_media_media_image(src=media.asset.url type='video/mp4')

                                .media_count    
                                    span  IMG. 
                                        span 01/07

            .next_case_heading
                h3 NXT PROJ 
                p Scroll 
                span 
                    svg(xmlns='http://www.w3.org/2000/svg' width='8' height='9' viewbox='0 0 8 9' fill='currentColor')
                        path(d='M3.67576 8.48122C3.85483 8.66029 4.14517 8.66029 4.32424 8.48122L7.24238 5.56308C7.42145 5.384 7.42145 5.09367 7.24238 4.9146C7.06331 4.73553 6.77298 4.73553 6.59391 4.9146L4 7.50851L1.40609 4.9146C1.22702 4.73553 0.936689 4.73553 0.757617 4.9146C0.578545 5.09367 0.578545 5.384 0.757617 5.56308L3.67576 8.48122ZM3.54146 0.126953L3.54146 8.15698L4.45854 8.15698L4.45854 0.126953L3.54146 0.126953Z')


            .next_case
                .next_case_banner_wrapper
                    figure.case_banner_media
                        a.case_banner_media_link(href=Link(nextProject.slug))  
                            img.case_banner_media_image(src=imageUrl(nextProject.mainBanner))
                            .case_banner_count_wrapper
                                .case_banner_count
                                    h1.case_banner_count_heading PR.#{String(nextProject.caseIndex).padStart(2, '0')}   
                                        span.banner_total_count /#{String(projects.length).padStart(2, '0')}
                    p.case_name!=nextProject.projectName.replace(/\n/g, '<br>')

                .next_case_wrapper
                    .case_count_wrapper
                        h1.case_count_heading PR.#{String(nextProject.caseIndex).padStart(2, '0')}   
                            span.case_total_count /#{String(projects.length).padStart(2, '0')}
                        p.case_name!=nextProject.projectName.replace(/\n/g, '<br>')

