block variables
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Design Embraced

    link(rel="stylesheet" href="/css/main.css")

  body(style='background-color: ' + (colors && colors.backgroundColor) + '; color: ' + (colors && colors.textColor))
    include ./partials/preloader

    .content#content(data-template=template data-backgroundColor=colors.backgroundColor data-color=colors.textColor)
      include ./partials/navigation
      block content

    include ./partials/footer
    script.
      window.ASSETS = !{JSON.stringify(assets).replace(/<\//g, "<\\/")}
      window.PAGES = !{JSON.stringify(pages).replace(/<\//g, "<\\/")}
    script(src="/js/app.js")